@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-background-primary: #f0f0f7;
  --color-background-secondary: #757575;
  --color-background-tertiary: #ffffff;
  --color-background-quarternary: #288927;
  --color-text-primary: #282a36;
  --color-text-secondary: #f0f0f7;
  --color-text-tertiary: #9e53fb;
  --color-text-quarternary: #288927;
  --color-text-quintenary: #aaaaaa;
  --color-line-primary: #aaaaaa;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  width: auto;
  height: auto;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}